@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 95%);
    
}
/* Cards */

.main{
    display: flex;
    margin: 15vh 15vw 15vh 15vw;
    min-height: 70vh;
    min-width: 50vw;
    
}
/* Card Properties */
/* Common Card Properties */
.card{
    display: flex;
    flex-direction: column;
    padding: 8vh 3vw 8vh 3vw;

}
/* Sedan Card */
.Sedan{    
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0px 0px 10px;   
}
/* Suv Card */
.Suvs{
    background-color: hsl(184, 100%, 22%);
    
}
/* Luxury Card */
.Luxury{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 10px 10px 0px;    
}
/* Text Fonts & Weight*/

/* Common Text Properties*/
.size{
    text-align: left;
    margin-bottom: 5vh;
}
/* Title Class*/
.t_size{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    font-weight: 700;
    margin-top: 5vh;
}

/* Paragraph Class*/
.p_size{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px ;
    font-weight: 400;
    font-family: 'Lexend Deca',sans-serif;    
}

/*Link Button*/
/* Common Link Properties */
.com{
    text-decoration: none;
    text-align: center;
    align-self: flex-start;
    width: 70%;
    padding: 20px 30px;
    border-radius: 50px;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 15px ;
    font-weight: 400;
    margin-bottom: 2vh;
}
.cta{
    
    background-color: hsl(0, 0%, 95%);  
}

.cta:hover{
    color:hsl(0, 0%, 95%);
    background-color: none;
    border: 3px solid hsl(0, 0%, 95%);
    
   
}

.Sedan a{
    color: hsl(31, 77%, 52%);
}
.Sedan a:hover{
    background-color: hsl(31, 77%, 52%);
}

.Suvs a{
    color: hsl(184, 100%, 22%);
}
.Suvs a:hover{
    background-color: hsl(184, 100%, 22%);
}

.Luxury a{
    color: hsl(179, 100%, 13%);
}
.Luxury a:hover{
    background-color: hsl(179, 100%, 13%);
}